<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Complaint_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Complaint_Application.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        var userObjectJson = ViewBag.UserObjectJson;
        // var isLoggedIn = !string.IsNullOrEmpty(userObjectJson);
    }

    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5A38EC;">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Auth" asp-action="Index" >Complaint_Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (userObjectJson == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link bg-success text-white m-1 " asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bg-secondary text-white m-1 " asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
                        }
                        @if (userObjectJson != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link  btn btn-light border-0 bg-transpiratnt text-muted  my-1" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Check if user data exists in sessionStorage
        var storedUserData = JSON.parse(sessionStorage.getItem('userData'));

        // If user data exists, hide Login and Register links
        if (storedUserData) {
            document.getElementById('loginLink').style.display = 'none';
            document.getElementById('registerLink').style.display = 'none';
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
